.user-nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    margin: 80px 10% 20px 7%;
}

.user-nav ul li a {
    text-decoration: solid;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.user-img {
    position: relative;
    display: block;
    margin: auto;
    padding: 20px 0;
}

.user-info {
    width: 80%;
    margin: 50px 30px 0 50px;
    text-align: center;
    box-shadow: 4px 10px 20px 0 rgb(0 0 0 / 20%);
}

.inputs-div {
    display: block;
}

.profile-change-input {
    display: block;
    background-color: transparent;
    width: 40%;
    max-width: 50vh;
    border-width: 0;
    border-bottom-width: 1px;
    padding: 2px 20px;
    font-size: 17px;
    margin: auto;
}

.profile-change-select {
    display: block;
    background-color: transparent;
    width: 45%;
    max-width: 50vh;
    border-width: 0;
    border-bottom-width: 1px;
    padding: 2px 20px;
    font-size: 17px;
    margin: auto;
}

.profile-change-disabled {
    display: block;
    background-color: rgb(180, 179, 179);
    width: 40%;
    max-width: 50vh;
    border-width: 0;
    padding: 2px 20px;
    font-size: 17px;
    color: white;
    margin: auto;
}

.input-label {
    display: block;
    margin: 15px 0 0 0;
}

.table-users {
    display: inline-table;
    border-collapse: collapse;
    width: -webkit-fill-available;
    margin: 50px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

.table-users thead tr {
    background-color: rgba(44, 53, 63, 0.85);
    color: white;
    text-align: center;
}

.table-users th {
    cursor: pointer;
}

.table-users th,
.table-users td {
    padding: 12px 15px;
}

.table-users tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-users tbody tr:hover {
    transition: 0.5s;
    background-color: #f3f3f3;
}

.table-users tbody tr:last-of-type {
    border-bottom: 2px solid rgba(44, 53, 63, 1);
}

.users-search {
    background-color: white;
    position: sticky;
    top: 181px;
    padding: 0 120px;
    padding: 0 5%;
    width: -webkit-fill-available;
    height: 70px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #dddddd;
    z-index: 50;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.users-search input {
    width: 90%;
    min-width: 400px;
    position: relative;
    margin: 0 15px;
    font-size: 20px;
    background: transparent;
    border-bottom-style: ridge;
    border-color: grey;
    border-width: 0 0 1px 0;
}

.filter-btn {
    text-decoration: none;
    color: #555454;
    font-weight: bold;
    border: 1px solid #555454;
    padding: 5px 10px;
    height: 45px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    float: right;
}

.filter-btn:hover {
    border-color: rgba(44, 53, 63, 1);
    color: rgba(44, 53, 63, 1);
    transition: 0.5s;
}

.filter-btn i {
    padding: 5px;
}

.new-user-btn {
    height: 45px;
    color: rgba(44, 53, 63, 1);
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #555454;
    padding: 10px 10px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    float: right;
}

.new-user-btn:hover {
    background: rgba(44, 53, 63, 1);
    color: white;
    transition: 0.5s;
}

.filter-div {
    display: none;
    float: right;
    position: sticky;
    top: 250px;
    text-align: center;
    z-index: 1;
}

.filter-modal {
    max-height: 57vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    width: 40vh;
    height: auto;
    margin: 10px 0 0 0;
    background-color: #dddddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.close-filter {
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    float: right;
    padding: 0 5px;
    writing-mode: tb;
}

.registration-success {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 53, 63, 0.5);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#checkMark {
    color: white;
    font-size: 100px;
}

.choose-type {
    margin-top: 20px;
    width: 290px;
    margin: 15px auto;
    padding-left: 15px;
    color: white;
    height: 100px;
    text-align: left;
    overflow: auto;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-preview {
    width: 300px;
    min-height: 100px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-preview__image {
    display: none;
    width: 100%;
}

.steps-div {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 500px;
    display: inline-grid;
    grid-template-columns: 70% 30%;
}

#map {
    height: 200px;
    width: 400px;
    margin: 20px auto;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.login-title p {
    color: #b1aeae;
    font-weight: 100;
    font-size: 15px;
    margin: 0px 45px;
}

.radio-btn-container {
    display: block;
}

@media only screen and (max-width: 900px) {
    .users-search {
        grid-template-rows: auto;
        grid-template-columns: none;
        height: auto;
        justify-content: center;
        padding: 2%;
        grid-auto-flow: inherit;
    }
    .new-user-btn {
        margin-left: 0;
    }
    .filter-div {
        float: none;
        top: 360px;
        width: 100%;
    }
    .filter-modal {
        margin: 10px auto;
    }
    #advancedSearch-btn-do {
        margin-top: 10px;
        margin-right: 0;
    }
}