/* Top menu */
.top-part-rp {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 308px;
    position: absolute;
    top: 0em;
    background-size: cover;
    background-attachment: scroll;
    z-index: 2;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/background.jpg);
}

/* Fixed top menu */
.nav-rp {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/background.jpg);
}

.nav-rp a {
    margin: 0;
    margin-top: -15px;
}

.nav-rp #ncart-rp {
    margin: 0;
    margin-top: 75px;
    margin-right: 25px;
    text-align: right;
    text-decoration: solid;
    color: #054e72;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}

.nav-rp a:hover {
    font-size: 26px;
}

/* Restaurant info */

.restaurant-info-rp {
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 5%;
    max-height: 180px;
    position: relative;
    left: 12.3%;
    top: 60px;
    margin: 17px 0;
    width: fit-content;
    display: block;
}

.logo-rp {
    width: 7em;
    height: 7em;
    border-radius: 5% 0 0 0;
    opacity: 100%;
    border: 2px solid black;
}

.rating-rp {
    display: inline-flex;
}

.rating-rp p {
    margin: 0;
    margin-top: -2px;
    margin-left: 0.2em;
    font-size: 1.033em;
}

.star-rating-rp {
    width: 1.3em;
    height: 1.3em;
}

.rating-num-rp {
    font-weight: bold;
}

.title-and-rating {
    margin-left: 0.7em;
}

.top-info-rp {
    display: flex;
    position: relative;
    left: -265px;
}

.restaurant-title-rp {
    margin: 0;
    padding: 0.2em 4.5em 1.2em 0;
    word-wrap: break-word;
    max-width: 10em;
}

.restaurant-status-rp {
    margin: 0.5em 0.5em 0 0;
    padding: 0.3em 0.5em 0.5em 0.5em;
    background-color: rgba(44, 67, 77, 0.281);
    height: 1.2em;
    border-radius: 5%;
    font-size: large;
    font-weight: bold;
}

.bottom-info-rp {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.bottom-info-rp h3 {
    padding-left: 0.5em;
    font-weight: normal;
    font-variant: small-caps;
    font-weight:  600;
    letter-spacing: 4px;
    position: relative;
    top: 1em;
}

.full-address-rp p{
    font-size: medium;
    font-style: oblique;
    font-size: small;
    margin: 0;
    padding: 0 0 0.2em 0;
}

.full-address-rp {
    padding-right: 1em;
    padding-bottom: 1em;
}

.bottom-section-rp {
    display: grid;
    grid: auto/ 25% 1fr;
    grid-gap: 0 2em;
    width: 75%;
    margin: 0 auto;
    margin-top: 320px;
}

/* Navigation menu (articles, reviews) */

.nav-menu-rp {
    width: 65%;
    margin-top: 2em;
    grid-column: 1;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    height: fit-content;
    position: sticky;
    top: 7em;
    box-shadow: 5px 10px 15px 0 rgba(5, 5, 5, 0.5);
}

.nav-menu-rp h3 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin: 1em;
    width: max-content;
}

.nav-menu-rp h3:hover {
    cursor: pointer;
    font-weight: 500;
}

/* Article list */

.articles-rp {
    padding: 1em;
    margin: 2.3em 0;
    /* width: 70%; */
    box-shadow: 5px 10px 15px 0 rgba(5, 5, 5, 0.5);
    cursor: pointer;

}

.article-list-rp {
    padding: 0;
}

.article-rp {
    position: relative;
    padding: 0.2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    border: 1px outset rgba(5, 5, 5, 0.5);
    background: rgba(255, 255, 255, 0.842);
}

.article-rp:hover {
    /* background-color: rgb(230, 230, 230); */
    width: 100%;
    box-shadow: 5px 10px 15px 0 rgba(5, 5, 5, 0.5);
}

.article-rp h2 {
    font-size: 1.8em;
    padding-left: 0.2em;
    margin: 0;
}

.article-rp h3 {
    font-size: 1.4em;
    color: #054e72;
    padding: 0.5vh 0.2em;
    margin: 0;
    position: absolute;
    bottom: 0;  
}

.article-rp p {
    word-wrap: break-word;
    padding: 0.5em 0.2em;
    margin: 0;
    font-size: 1.3em;
}

.food-img-rp {
    border: 2px solid black;
    margin-right: 0.2em;
    opacity: 85%;
    border-radius: 50%;
    width: 9em;
    height: 7em;
}

/* Review list */

.restaurant-reviews-rp {
    padding: 0;
    /* margin: 0 2em 0 2em;
    width: 70%; */
    height: fit-content;
    box-shadow: 5px 10px 15px 0 rgba(5, 5, 5, 0.5);
}

.restaurant-reviews-rp h1{
    padding-top: 0.4em;
    margin-left: 2em;
    font-size: 1.8em;
}

.user-reviews-list-rp {
    list-style-type: none;
    margin: 0 auto;
    max-width: 80%;
}

.review-rp {
    background-color: rgba(44, 53, 63, 1);
    border-radius: 1em;
    display: flex;
    min-height: 100px;
    margin: 1em 0;

}

.user-img-rp {
    vertical-align: middle;
    margin: 0;
    width: 4em;
    height: 4em;
    border: 2px solid rgba(44, 53, 63, 1);
    border-radius: 50%;
    margin-left: -2em;
    margin-top: 0.5em;
    background-color: rgba(44, 53, 63, 1);
}

.review-info-rp {
    display: inline-block;
    width: 100%;
    position: relative;
}

.review-rating-rp {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: white;
}

.review-info-rp h4 {
    padding: 0.8em 0 1em 0.5em;
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
    color: white;
}


.review-info-rp h5 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    word-wrap: break-word;
    font-style: italic;
    font-weight: normal;
    position: absolute;
    right: 5em;
    bottom: 0.5em;
    color: white;
}

.restaurant-reviews-rp h6{
    padding: 0;
    padding-bottom: 0.3em;
    margin: 0;
    margin-right: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #054e72;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
}

.restaurant-reviews-rp h6:hover{
    font-size: 1.22em;
    color: #054463;
}