@charset "UTF-8";
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(44, 53, 63, 1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.315);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}


/*Radio without marker*/

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.radio-label {
    font-size: 20px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.089);
}

.radio-label {
    font-weight: lighter;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 0.5px solid rgba(255, 255, 255, 0.089);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.089);
}

.radio-label:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.radio-btn-container {
    margin: 2% auto;
    width: 80%;
    height: 352px;
    overflow-y: auto;
    box-shadow: 0px 0px 40px 0 rgb(0 0 0 / 20%);
}


/* Radio with marker */

input[type="radio"][name="cuisine"] {
    display: none;
}

input[type="radio"][name="cuisine"]:checked+.radio-label {
    font-size: 20px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.089);
}

.radio-btn-container input[type="radio"][name="cuisine"]:checked+.radio-label::before {
    height: 5px;
    width: 5px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.radio-label[name="cuisine"]::before {
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 20px;
}


/*Checkbox white*/

input[type="checkbox"] {
    display: none;
}

.checkbox-btn-container input[type="checkbox"]:checked+.checkbox-label {
    font-size: 18px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.089);
}

.checkbox-btn-container input[type="checkbox"]:checked+.checkbox-label::before {
    height: 5px;
    width: 5px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.checkbox-label {
    font-weight: lighter;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 0.5px solid rgba(255, 255, 255, 0.089);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.089);
}

.checkbox-label::before {
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 20px;
}

.checkbox-label:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.checkbox-btn-container {
    margin: 2% auto;
    width: 60%;
    height: 100px;
    overflow-y: auto;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
}


/* Checkbox black*/

.checkbox-btn-container-dark input[type="checkbox"]:checked+.checkbox-label {
    font-size: 18px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.089);
}

.checkbox-btn-container-dark input[type="checkbox"]:checked+.checkbox-label::before {
    height: 5px;
    width: 5px;
    border: 5px solid rgba(0, 0, 0, 0.089);
    background-color: black;
}

.checkbox-btn-container-dark label::before {
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    color: black;
}

.checkbox-btn-container-dark label {
    color: black;
}

.home-img {
    display: block;
    position: relative;
    font-size: 14px;
    background: #ffffff;
    width: 100%;
    height: 90vh;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0 auto;
    background-size: cover;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/background.jpg);
}

.main-window {
    width: 100%;
    height: 100vh;
}

.logo-img {
    width: 7cm;
    float: left;
    top: 20px;
    left: 50px;
    position: relative;
}

.navigation-area {
    width: 100%;
    top: 0;
    position: sticky;
    height: 80px;
    border-bottom: #fff;
    background: rgba(44, 53, 63, 1);
    z-index: 1;
}

.nav-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(44, 53, 63, 1);
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 30px;
    right: 50px;
    float: right;
}

.log-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.log-btn:hover {
    background: white;
    transition: 0.5s;
    color: rgba(44, 53, 63, 1);
}

.btn:hover {
    background: white;
    transition: 0.5s;
    color: black;
}

.greet {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.greet h1 {
    font-size: 62px;
}

.address {
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    border: outset;
    border-width: 2px;
    min-width: 300px;
    max-width: 800px;
}

.address p {
    margin: 0 30px 20px;
    text-align: left;
}

.search {
    margin: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-restaurants {
    padding: 10px;
    display: flex;
    background-color: white;
    box-shadow: 4px 10px 20px 0 rgb(0 0 0 / 20%);
    align-items: center;
}

.white-behind-search {
    z-index: 50;
    background-color: white;
    height: 100px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top: 80px;
}

.search input,
.search-restaurants input {
    width: 100%;
    position: relative;
    margin: 0 30px 0 15px;
    font-size: 20px;
    background: transparent;
    border-bottom-style: ridge;
    border-color: grey;
    border-width: 0 0 1px 0;
}

.search button {
    margin: 0 30px 0 0;
}

.content {
    width: 80%;
    display: grid;
    grid: auto/ 25% 1fr;
    grid-gap: 0 2em;
    margin: 0 auto;
}


/*--register--*/

.register {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 53, 63, 0.5);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    height: auto;
    background: rgba(44, 53, 63, 1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

@media only screen and (max-height: 650px) {
    .modal {
        height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media only screen and (min-height: 650px) {
    .modal {
        height: 580px;
    }
}

.tab {
    display: flex;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
}

.tab button {
    font-size: 17px;
    display: inline-flexbox;
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
}

.tab button:hover {
    background: linear-gradient(rgba(44, 53, 63, 1), rgba(44, 53, 63, 1), rgba(44, 53, 63, 1), rgba(44, 53, 63, 1), rgba(255, 255, 255, 1));
    transition: 0.5s;
}

.login-title {
    font-weight: bold;
}

.login-inputs {
    display: block;
    margin: 15px auto 0 auto;
    background-color: transparent;
    width: 50%;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: white;
    padding: 2px 20px;
    color: white;
    font-size: 17px;
}

.login-inputs-select {
    display: block;
    margin: 15px auto 0 auto;
    background-color: transparent;
    width: 58%;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: white;
    padding: 2px 16px;
    color: white;
    font-size: 17px;
}

.login-inputs-select option {
    background-color: rgba(44, 53, 63, 1);
    color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    color: white;
}

.error {
    color: red;
    display: block;
}


/*-----restaurants----*/

.left-side-div {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 30%
}

.float-left-div {
    margin: 30px 0;
    width: 100%;
    grid-column: 1;
    position: sticky;
    top: 210px;
    text-align: right;
    align-self: start;
}

.restaurant-types {
    margin-top: 20px;
    width: 100%;
    box-shadow: 4px 10px 20px 0 rgb(0 0 0 / 20%);
    text-align: left;
    height: auto;
    padding-bottom: 10px;
}

.restaurants {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
}

.restaurants h1 {
    margin: 0 0 50px 0;
}

.restaurants-col {
    display: flex;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #4f2f2f30;
}

.restaurants-col img {
    width: 30%;
    border-radius: 10px;
}

.restaurants-col p {
    color: #777;
    padding: 0;
}

.restaurants-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.restaurant-info {
    margin: 0 0 0 20px;
}

.closed-restaurant {
    background: darkgray;
    text-align: center;
    border-radius: 10px;
}

.restaurants input {
    width: 100%;
}

.black-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(44, 53, 63, 0.85);
    font-weight: bold;
    border: 1px solid rgba(44, 53, 63, 0.85);
    padding: 10px 30px;
    font-size: 15px;
    margin: 4px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.black-btn:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: default;
}

.black-btn:disabled:hover {
    border-color: #dddddd;
    color: #dddddd;
    background-color: transparent;
    cursor: default;
}

.black-btn:hover {
    background: rgba(44, 53, 63, 0.85);
    transition: 0.5s;
    color: white;
}