.order-restaurant img {
    width: 20vh;
    border-radius: 10px;
    margin: 1vh;
}

.order-restaurant {
    display: flex;
    align-items: center;
}

.table-users[name="orders"] tbody tr {
    cursor: pointer;
}

.order-articles-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% -7%;
}

.order-articles-title {
    font-size: 19px;
    text-align: left;
    margin-left: 15%;
}

.order-articles-title p {
    color: white;
    font-weight: bolder;
    margin: auto;
}

.order-status-white {
    border: 1px solid white;
    padding: 0% 5%;
    color: rgba(44, 53, 63, 1);
    font-weight: bold;
    background-color: white;
}

.order-status-black {
    border: 1px solid rgba(75, 83, 92, 1);
    padding: 5% 5%;
    margin: 10%;
    color: rgba(75, 83, 92, 1);
    font-weight: bold;
    background-color: white;
}

.article-col {
    display: flex;
    border-radius: 10px;
    text-align: left;
    background-color: transparent;
    margin: 2% 10%;
    justify-content: space-between;
    align-items: center;
}

.article-col img {
    width: 35%;
    border-radius: 10px;
    height: fit-content;
}

.article-col p {
    color: #777;
    padding: 0;
}

.article-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    width: -webkit-fill-available;
    color: white;
    font-weight: normal;
}

.cancle-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 15px;
    background-color: rgb(224, 44, 44);
    position: relative;
    cursor: pointer;
}

.cancle-btn:hover {
    background-color: rgb(255, 31, 31);
    transition: 0.5s;
}

.cancle-btn:disabled {
    background-color: rgb(114, 16, 16);
    border-color: #dddddd;
    color: #dddddd;
    cursor: default;
}