*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.preheader{
    height: 50%;
    width: 100%;
    background-color: rgba(44,53,63,255);
    position: relative;
}
.preheader a img{
    width: 350px;
    top: 15%;
    left: 3%;
    position: absolute;
}

.header{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
p{
    color: rgb(231, 224, 224);
    font-size: 14px;
    font-weight: 22px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: white;
    transition: 0.5s;
    color: black;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.search{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 0 280px;
}
.search input{
    width: 60%;
    height: 40px;
    margin: 0 10px 0px;
    font: 14px;
    color: white;
    background-color: transparent;
}
.search h3{
    text-align: left;
    left: 10%;
    position: relative;
}
.search p{
    color: rgb(231, 224, 224);
    font-size: 14px;
    font-weight: 22px;
    text-align: left;
    left: 10%;
    position: relative;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
/*-----restaurants----*/
.restaurants{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.restaurants-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.restaurants-col img{
    width: 100%;
    border-radius: 10px;
}

.restaurants-col p{
    color: #777;
    padding: 0;
}
.restaurants-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-----footer-----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p{
    color: #777;
    padding: 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}

/*-----modal-----*/
.modal{
    display: flexbox;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;

    width: 100%;
    max-width: 400px;
    background-color: rgba(44,53,63,255);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.modal h1{
    display: inline-flexbox;
    text-align: center;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    margin-top: 20px;
}
.modal h3{
    padding-top: 15px;
    text-align: center;
    color: #fff;
}
.modal input[type="text"]{
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    align-self: center;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    color: #fff;
}
.hero-btn1{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-btn1:hover{
    background: white;
    transition: 0.5s;
    color: black;
}

.modal label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

.tab {
    display: flex;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
}
